.side-panel{
    width: 350px;
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
}

.content{
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    flex-grow: 1;
    overflow-y: auto;
}