/* 
Some CSS standards for myself:
1. Margins are set from top to bottom

*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --dark-green-color: #279453;
  --bg-grey-color: #EEEEEE;
  --bg-positive-color: white;
}

h1{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div{
    font-family: 'Roboto', sans-serif;
}


.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 10px;
  z-index: 9;
  pointer-events: none;
}
